# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Dataset
# =========================
dataset/raw/
dataset/images/
dataset/labels/
dataset/processed

# (if dataset is too large)
*.zip
*.rar
*.7z

# =========================
# YOLO / Training Outputs
# =========================
runs/
outputs/

# =========================
# Model Weights
# =========================
*.pt
*.pth
*.onnx
*.engine

# =========================
# Logs
# =========================
*.log

# =========================
# System files
# =========================
.DS_Store
Thumbs.db
archive